/* kami_html5.css for kami-rst-publisher by kamiLeL */
/* applied with responsive.css of docutils */



/* General Settings */

body, body > * {
  line-height: 1.75;  /* line spacing */
  font-family: "Literata 12pt", Georgia; /* dominant font */
  background-color: #FAFFFD; /* background color */
}



/* Table of Contents */

nav.contents ul > li::marker {
  color: #000000;
}

main > nav.contents,
.sidebar {
  background-color: #F7EDD9;
}



/* Title, Subtitle, & Headings */

h1, p.subtitle, nav * {
  font-family: "Raleway", Verdana; /* Titles, Subtitles, & ToC font */
}

p.subtitle { /* Subtitle setting */
  font-size: 133%;
  margin-bottom: 1em;
  margin-top: -0.5em;
}

h2, h3, h4, h5, h6,
p.rubric,
p.sidebar-title,
p.admonition-title,
p.topic-title, /* Toc Heading */
th, /* Table Header */
sup, sub /* superscript, subscript */
{
  font-family: "Atkinson Hyperlegible", "Trebuchet MS";
}

/* ToC line height */
nav * {
  line-height: 0.9;
}


/* Heading Font Size */

h1 {
  font-size: 200%; /* Title */
}

h2 { /* Heading 1 */
  text-align: center;  /* center-aligned */
  font-size: 180%;
}

h3 { /* Heading 2 */
  font-size: 150%;
}

h4, h5, h6 { /* Heading 3,4,5 */
  font-size: 120%;
}

h5, h6 { /* Heading 4,5 */
  font-weight: normal; /* de-bolding */
}

h6 { /* Heading 5 */
  font-style: italic;
}

p.rubric,
p.sidebar-title,
p.admonition-title,
p.topic-title{ /* Various Headings */
  font-size: larger;
  font-weight: bold;
}

p.rubric {
  font-size: 120%;
  color: #585858
}



/* List */

ol.arabic     { list-style: decimal }
ol.loweralpha { list-style: lower-alpha }
ol.lowerroman { list-style: lower-roman }

ol, ul{
  line-height: 1.25;
}

ol {
  font-family: "Playfair Display", Georgia; /* List Numbering font */
}

ol p, ul p{
  font-family: "Literata 12pt Light", Georgia;
}

/* Special Text */

blockquote > *,
.line-block > *{ /* Quotation & Line Block */
  font-family: "Cormorant Garamond Medium", Garamond;
  font-size: larger;
}

.literal-block, span.literal, /* Literals */
.system-message > *{
  font-family: "Fira Code Kami", "Courier New";
  font-size: 80%;
  background-color: #EBF2F0;
  color: #006642;
}

sup, sub {
  color: #333333;
}



/* Tables */

table { /* Single Line table border */
  border-collapse: collapse;
}

td, th {
  border: thin solid silver;
  padding: 0 1ex;
}



/* Hyperlink & Footnotes */

.footnote-list { /* Vertical Line on the Left of Footnotes */
  border-left: solid medium #006642;
  padding-left: 0.25em;
}

.fn-bracket {
  font-size: 0; /* remove [] of Footnote links */
}

.footnote-reference { /* Footnote reference formatting */
  font-size: 85%;
  vertical-align: top;
}

a {
  color: inherit;  /* reference same color as normal text */
}

.footnote-reference,
.reference { /* in-text reference */
  color: #006642;
}

a:hover,
*:hover > a.toc-backref:after,
*:hover > a.self-link:after,
a:active{
  color: #FFA500 /* active hyperlink color */
}

section:target > h2, section:target > h3, section:target > h4,
section:target > h5, section:target > h6,
.contents :target,
.contents:target > .topic-title,
[role="doc-biblioentry"]:target > .label,
[role="doc-biblioref"]:target,
[role="note"]:target, /* Docutils 0.18 ... 0.19 */
[role="doc-footnote"]:target, /* Docutils >= 0.20 */
[role="doc-noteref"]:target {
  background-color: #FFE0A6; /* selected hyperlink color */
}

[role="doc-noteref"] {
  vertical-align: super;
}





/* Customized Class */

.kami-KScode,
.kami-KSproxy,
.kami-KSsup,
.kami-KSTag {
  font-family: "Fira Code Kami", "Courier New";
  color: #FF3B08;
}

.kami-KScode,
.kami-KSproxy{
  font-size: smaller;
}

.kami-KSTag{
  font-size: 60%
}

.kami-KSsup{
  vertical-align: super;
  font-size: 50%;
}

.kami-ArabicNumber,
.kami-RomanNumeral{
  font-family: "Playfair Display", Georgia;
}



/* Admonitions and System Messages */

.admonition,
.system-message{
  margin: 1em 2em;
  border: thin solid;
  padding: 0.5em 1em;
}

.caution p.admonition-title,
.attention p.admonition-title,
.danger p.admonition-title,
.error p.admonition-title,
.warning p.admonition-title{
  color: #FF3B08;
}

.system-message > * {
  color: red;
  font-weight: bold;
}

.system-message {
  border: thin solid red;
  background-color: #FFCCCC;
}
